.classify{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 20px 27px 0px rgba(0,0,0,.1)
}
.classify-root{
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    
}
.classify-title{
    display: flex;
    align-items: baseline;
}
.text-all-classify{
    width:230px;
    height:50px;
    background-color: rgba(2,181,157,.85);
    color:white;
    font-size: 16px;
    padding-top: 15px;
    padding-left:10px;
    
}
.classify-links{
    padding-right: 20px;
    flex:1;
}
.hot-links{
    color: #222;
    font-weight: 700;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;

}
.classify-list{
    background: linear-gradient(rgba(2,181,157,.85) 2%,rgba(22,146,183,.85) 100%);
    color:  white;
    width: 230px;
}
.list-content{
    flex: 1;
    padding:3px;
}
.list-content:hover{
   background-color:  rgba(2,181,157,0.85);
    opacity: 0.3;
}
.roll{
    width: 550px;
    height: 240px;
}
.row1-pic{
    width: 150px;
    height: 240px;
    margin-left: 10px;
}
.row2-pic1,.row2-pic2,.row2-pic3{
    width: 270px;
    height: 165px;
    margin-top:10px;
    margin-right:10px;
}
.row2-pic3{
    width: 150px;
    height: 165px;
}
.head-pic{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 4px solid #E5E5E5;
}
.user-name{
    font-size: 16px;
    color: #222;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}
