.page-teest
  height 100%
  padding 24px

.test-button{
  margin 300px auto 
  width:1200px;
  background-color gray 
  
}
.block-container{
  width 1200px;
  display flex
  -webkit-flex-wrap:wrap
}
.popup{
}
.inner{
  width :100px;
  height  :30px ;
  margin:10px 20px;
  background-color :#eee;
  border 1px solid gray;
  cursor pointer;
  border-radius 5px;
  display:flex;
  justify-content: space-between;
  align-item:baseline;
  flex-shrink 0
}
.text {
  margin-left 20px;
  line-height 30px;
}
.hide{
  visibility hidden;
}
.icons{
  float right 
  margin-right 3px;
  line-height 30px
}
li{
  list-style :none;
}
.add{
  margin 10px 20px;
}